@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'), url('../../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
