.inner-container {
    padding: 0;
}

.unordered-list {
    padding-right: 18px;
}

.unordered-list li {
    list-style-type: none;
}

.operation-type {
    cursor: pointer;
}

#operations-accordion .operation-sample .light-gallery {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

#operations-accordion .operation-sample .light-gallery:not(:last-child) {
    padding-right: 5px;
}

.light-gallery .gallery-thumbnail {
    width: 145px;
    border: 3px solid #04070a;
    -ms-border-radius: 3px;
    border-radius: 3px;
}