@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Обо мне";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/home/about.css">
}

<div class="inner-container">
    <div class="mss-signature">
        <img src="~/images/avatars/mss-signature-text.png" alt="MSS Signature">
    </div>

    <div class="mss-avatar">
        <img src="~/images/avatars/mss-avatar.jpg" alt="MSS Avatar">
    </div>

    <p class="self-words">
        Приветствую Вас у себя на сайте. Мой опыт работы в сфере пластической хирургии составляет 10 лет.
        Являюсь действительным членом Общества пластической, реконструктивной и эстетической хирургии Беларуси.
        Непрерывно  совершенствую свой профессиональный уровень, посещая международные конференции и симпозиумы.
        Учитывая стремительное развитие эстетической хирургии, внедряю передовые технологии в собственной практике.
        Как писал Цицерон «Изящество и красота не могут быть отделены от здоровья», поэтому я Вам желаю в первую очередь быть здоровыми.
    </p>

    <h3 class="section-title">Биография</h3>

    <p class="p-0">30.05.2019 - 31.05.2019 - Республиканская научно-практическая конференция с международным участием мастер-класс «Мужское репродуктивное здоровье и хирургические методы коррекции некоторых его нарушений» (Гомель, Беларусь).</p>
    <p>18.04.2019 - 19.04.2019 - интенсивный курс «Современная эстетическая хирургия молочной железы и контуров тела» (Санкт-Петербург, Россия).</p>
    <p>08.02.2019 - 09.02.2019 - международный курс-тренинг ISAPS «Лицо и ринопластика» (Москва, Россия).</p>
    <p>31.10.2018 - 04.11.2018 - 24-й всемирный конгресс Международного Общества эстетической пластической хирургии (Майами, США).</p>
    <p>29.06.2018 - присвоена высшая квалификационная категория по квалификации врач.</p>
    <p>31.05.2018 - 01.06.2018 - 1-й национальный конгресс «Пластическая хирургия и косметология» (Минск, Беларусь).</p>
    <p>25.05.2018 - 28.05.2018 - международный конгресс по эстетической хирургии груди “Botti’s Breast Best” (Гардоне-Ривьера, Италия).</p>
    <p>13.05.2018 - 15.05.2018 - 5 международная школа маммопластики (Казань, Россия).</p>
    <p>16.03.2018 - 17.03.2018 - международный конгресс по пластической хирургии и эстетической медицине (Киев, Украина).</p>
    <p>30.03.2017 - 01.04.2017 - мастер-класс "Композитный SMAS-лифтинг. Пластика лица и шеи- ответы на все вопросы" под руководством доктора Сэма Хамры (Москва, Россия).</p>
    <p>09.02.2017 - 10.02.2017 - мастер-класс по первичной аугментации груди на базе "Viktoriakliniken" под руководством профессора Чарльза Ранквиста (Стокгольм, Швеция).</p>
    <p>02.01.2017 - член Общества пластической, реконструктивной и эстетической хирургии Беларуси.</p>
    <p>22.08.2016 - 16.12.2016 - переподготовка по специальности врача- пластического хирурга на кафедре пластической хирургии и комбустиологии БелМАПО (Минск, Беларусь).</p>
    <p>19.11.2016 - современная медицинская программа эстетического обучения по аугментационной маммопластике (Москва, Россия).</p>
    <p>21.10.2016 - 23.10.2016 - международный симпозиум "Продвинутая эстетическая хирургия груди и тела" (Санкт-Петербург, Россия).</p>
    <p>26.05.2016 - 28.05.2016 - 12-ый международный симпозиум по эстетической медицине "Красота сквозь науку" (Стокгольм, Швеция).</p>
    <p>19.05.2016 - 21.05.2016 - международный конгресс по эстетической и реконструктивной хирургии груди (Париж, Франция).</p>
    <p>15.03.2016 - 19.03.2016 - 5-ый открытый курс по ринопластике (Бергамо, Италия).</p>
    <p>04.12.2015 - республиканский семинар "Лицо человека. Эстетика и функции" (Минск, Беларусь).</p>
    <p>23.10.2015 - 25.10.2015 - международный симпозиум по эстетической хирургии "Продвинутая эстетическая ринопластика, отопластика и контурная пластика лица" (Санкт-Петербург, Россия).</p>
    <p>22.10.2015 - курс "Сложные случаи эстетической хирургии молочной железы" (Санкт-Петербург, Россия).</p>
    <p>29.05.2015 - 31.05.2015 - международный конгресс по пластической хирургии "Антивозрастная контурная пластика лица" (Гардоне-Ривьера, Италия).</p>
    <p>28.04.2015 - 29.04.2015 - современный курс "Аугментация с помощью полиуретановых имплантов" (Рига, Латвия).</p>
    <p>10.12.2014 - 13.12.2014 - 6-й Европейский симпозиум "Эстетическая хирургия груди" (Милан, Италия).</p>
    <p>04.11.2014 - 05.11.2014 - программа "Аугментационная хирургия груди" (Рига, Латвия).</p>
    <p>25.10.2014 - 26.10.2014 - курс "Реконструктивная хирургия груди и эстетические усовершенствования" (Минск, Беларусь).</p>
    <p>07.10.2014 - 09.10.2014 - 23-й Европейский Курс ESPRAS по пластической хирургии (Хельсинки, Финляндия).</p>
    <p>01.09.2014 - настоящее время - врач-хирург МЦ «Эдаран».</p>
    <p>30.05.2014 - присвоена первая квалификационная категория по специальности "врач-хирург".</p>
    <p>03.03.2014 - 01.04.2014 - курсы повышения квалификации БелМАПО по программе "Современные аспекты пластической и реконструктивной хирургии" (Минск, Беларусь).</p>
    <p>07.06.2013 - 09.06.2013 - III Международный Курс ISAPS по пластической хирургии (Санкт-Петербург, Россия).</p>
    <p>02.04.2012 - настоящее время - врач-хирург МЦ «Конфиденс».</p>
    <p>11.12.2011 - IV международная научно-практическая конференция "1. Медицинская трихология. 2. Современные методы диагностики и лечения. Анатомическое обоснование объемной контурной пластики. Волюмизация. Теория и практика." (Минск, Беларусь).</p>
    <p>06.06.2011 - 17.06.2011 - стажировка по пластической хирургии в Отделении пластической и реконструктивной хирургии Клиники Литовского университета наук здоровья (Каунас, Литва).</p>
    <p>14.05.2011 - присвоена вторая квалификационная категория по специальности "врач-хирург".</p>
    <p>08.04.2011 - Республиканский семинар "Эндоваскулярные методы лечения варикозной болезни ног" (Минск, Беларусь).</p>
    <p>08.04.2010 - Мастер-класс "Лазерная хирургия и склеротерапия в лечении варикозной болезни" (Минск, Беларусь).</p>
    <p>04.08.2009 - настоящее время - врач-хирург Республиканского центра пластической и реконструктивной микрохирургии (микрохирургическое отделение УЗ «Mинская областная клиническая больница").</p>
    <p>01.08.2008 - 30.06.2009 - интернатура по специальности "Хирургия".</p>
    <p class="p-0">01.09.2002 - 24.06.2008 - лечебный факультет Белорусского Государственного Медицинского Университета. Диплом по специальности "лечебное дело".</p>
</div><!-- End of .container -->
