@{
    Layout = "_PageLayout";
    ViewData["Title"] = "После Операции";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/home/after-operation.css">
}

<div class="inner-container">
    <h3>Что необходимо выполнить ПОСЛЕ операции?</h3>

    <ul class="unordered-list accent">
        <li><span class="no-accent">Ограничение любой физической нагрузки (домашняя уборка в том числе).</span></li>
        <li><span class="no-accent ">Исключение курения и употребления алкоголя.</span></li>
        <li><span class="no-accent">Исключение посещения бассейна, бани, сауны.</span></li>
        <li><span class="no-accent">Приём препаратов по схеме указываемой специалистом.</span></li>
        <li><span class="no-accent">Планирование даты операции с учётом дней менструального цикла.</span></li>
        <li>
            <span class="no-accent">Стабилизация веса.</span>

            <p>
                Плюс-минус 2-3 килограмма – абсолютно не страшно, если же речь идёт о пяти и более килограммах,
                принять решение необходимо до операции и не забывать об этом в послеоперационном периоде
                для обеспечения пролонгированного и качественного результата.
            </p>
        </li>
        <li><span class="no-accent">Принятие душа – на 5-е сутки после операции.</span></li>
        <li><span class="no-accent">Вождение автомобиля – спустя неделю со дня операции.</span></li>
        <li><span class="no-accent">Перелёты возможны на 5-7 сутки после операции.</span></li>
        <li><span class="no-accent">Посещение перевязок с периодичностью, указываемой врачом.</span></li>
        <li><span class="no-accent">Половой покой в течение 1 месяца.</span></li>
        <li><span class="no-accent">Использование компрессионного белья (длительность озвучивается хирургом).</span></li>
        <li>
            <span class="no-accent">Предотвращение прямого попадания ультрафиолета на зону послеоперационного рубца в течение 6-12 месяцев.</span>

            <p>
                Данные рекомендации используются для безопасного течения
                послеоперационного периода. Несоблюдение вышеуказанных предписаний
                зачастую приводит к проблемам разного рода, изначально бессимптомных в том числе.
                В связи с этим не скрывайте от врача моменты нарушения рекомендаций,
                чтобы специалист смог вовремя отреагировать и ПОМОЧЬ! Выполняйте все инструкции хирурга,
                и желаемый результат не заставит себя ждать.
            </p>
        </li>
    </ul>
</div><!-- End of .container -->
