@{
    Layout = "_PageLayout";
    ViewData["Title"] = "До Операции";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/home/before-operation.css">
}

<div class="inner-container">
    <h3>Что необходимо сделать ДО операции?</h3>

    <p>
        Как правило, это наименее запоминающаяся часть консультации, хотя от
        неукоснительного соблюдения рекомендаций, во многом, зависит конечный
        результат проделанной работы. Я нисколько не сомневаюсь в Вашей
        информированности, однако уделите внимание словам специалиста - это
        действительно крайне важно. Главной рекомендацией является чёткое
        следование нижеизложенным пунктам.
    </p>

    <ul class="unordered-list accent">
        <li>
            <span class="no-accent">Анализы.</span>

            <ol class="no-accent">
                <li><span class="no-accent">Общий анализ крови - не более 10 дней до операции</span></li>
                <li><span class="no-accent">Общий анализ мочи - не более 10 дней до операции</span></li>
                <li><span class="no-accent">Реакция Вассермана (RW) - не более 1 месяца до операции</span></li>
                <li><span class="no-accent">Анализ крови на ВИЧ- не более 6 месяцев до операции</span></li>
                <li><span class="no-accent">Анализ крови на на маркеры гепатитов B и С- не более 6 месяцев до операции</span></li>
                <li><span class="no-accent">Биохимический анализ крови (общий белок, мочевина, креатинин, глюкоза, общий билирубин, АСТ, АЛТ, электролиты) - не более 10 дней до операции</span></li>
                <li><span class="no-accent">Анализ крови на группу и резус-фактор</span></li>
                <li><span class="no-accent">Коагулограмма - не более 10 дней до операции</span></li>
                <li><span class="no-accent">Флюорография - не более 1 года до операции</span></li>
                <li><span class="no-accent">ЭКГ - не более 10 дней до операции</span></li>
                <li><span class="no-accent">Консультация терапевта</span></li>
                <li><span class="no-accent">Консультация гинеколога</span></li>
            </ol>

            <p>
                Не пугайтесь, данный перечень только на первый взгляд кажется
                огромным. Взятие крови для пунктов 1, 3 - 8 осуществляется
                единовременно, соответственно на 2/3 списка вы тратите не более 10
                минут.
            </p>
        </li>
        <li><span class="no-accent">Исключение курения и употребления алкоголя за 2 недели до операции.</span></li>
        <li>
            <span class="no-accent">Стабилизация веса.</span>

            <p>
                Плюс-минус 2-3 килограмма – абсолютно не
                страшно, если же речь идёт о пяти и более килограммах, принять
                решение необходимо до операции и не забывать об этом в
                послеоперационном периоде для обеспечения пролонгированного и
                качественного результата.
            </p>
        </li>
        <li>
            <span class="no-accent">Очная консультация.</span>

            <p>
                Необходима всем пациентам, без исключения. Любой интересующий
                аспект предстоящей операции необходимо озвучить и обсудить со
                специалистом. Не бойтесь и не смущайтесь задать вопрос, даже если он
                кажется незначительным: лучше все выяснить до операции и получить
                результат, желаемый Вами. Консультирует и оперирует хирург,
                соответственно ему и нужно адресовать все свои вопросы, а не подруге
                или глобальной сети.
            </p>
        </li>
        <li><span class="no-accent">Планирование даты операции с учётом дней менструального цикла.</span></li>
        <li><span class="no-accent">Исключение приёма пищи и воды за 6 часов до начала операции.</span></li>
        <li><span class="no-accent">Принятие душа утром перед операцией, потому как следующий будет возможен только на 5-е сутки.</span></li>
        <li><span class="no-accent">Для собственного комфорта, в день операции использование удобной одежды и обуви, а также отсутствие украшений и макияжа.</span></li>
        <li>
            <span class="no-accent">«Тысячекратное» обдумывание принятого решения.</span>

            <p>
                При наличии малейшей доли сомнения в необходимости операции, обязательно
                сообщите об этом хирургу, возможно, самым правильным вариантом
                будет отмена или перенос операции на более поздний срок. Если же Ваше
                желание непоколебимо - доверяйте своему специалисту.
            </p>
        </li>
    </ul>
</div><!-- End of .container -->
