@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Сертификаты";
}

@model Dictionary<string, string>

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-lightgallery/css/lightgallery.min.css">
}

<div class="inner-container">
    <div id="light-gallery">
        @foreach (var item in Model)
        {
            <a href="@Url.Content(item.Key)">
                <img src="@Url.Content(item.Value)" />
            </a>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lightgallery.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lg-fullscreen.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lg-thumbnail.min.js"></script>

    <script>
        (function ($) {
            'use strict';

            $(document).ready(function () {
                var $lightGallery = $('#light-gallery').lightGallery();

                $lightGallery.on('onBeforeOpen.lg', function (event) {
                    $('.page-wrapper.loaded .close-btn', parent.document).hide();
                });

                $lightGallery.on('onBeforeClose.lg', function (event) {
                    $('.page-wrapper.loaded .close-btn', parent.document).show('slow');
                });
            });
        })(jQuery);
    </script>
}