@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Hot Offers";
}

<div class="inner-container">
    <h3>Hot offer on Plastic &amp; Reconstructive Surgery!</h3>
    <img class="fullwidth" src="@Url.Content("~/img/page/plastic-discount.jpg")" alt="Plastic surgery discount" />
    <h4 class="accent thinner">SAVE 50% Plastic &amp; Reconstructive Surgery!</h4>
    <p>With reconstructive surgery, our aim is to restore form and function to an affected area of the body. If injury, surgery, developmental disorder, or birth defect has created a need for reconstructive surgery, our expert physicians are specialists in a variety of fields.</p>
    <a class="btn btn-primary" href="#">More</a>
    <a class="call-to-action" href="#">30% Off on Post-mastectomy breast<br />reconstruction</a>
</div><!-- End of .container -->
