@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Виды Операций";
}

<div class="inner-container">
    <h3>Виды операций</h3>

    <ul class="unordered-list accent">
        <li><span class="no-accent">Увеличение груди (аугментационная маммопластика)</span></li>
        <li><span class="no-accent">Подтяжка груди (мастопексия)</span></li>
        <li><span class="no-accent">Уменьшение груди (редукционная маммопластика)</span></li>
        <li><span class="no-accent">Пластика век (блефаропластика)</span></li>
        <li><span class="no-accent">Пластика передней брюшной стенки (абдоминопластика)</span></li>
        <li><span class="no-accent">Пластика ушных раковин (отопластика)</span></li>
        <li><span class="no-accent">Увеличение голеней (круропластика)</span></li>
        <li><span class="no-accent">Уменьшение объёма жировой ткани (липосакция)</span></li>
        <li><span class="no-accent">Пересадка волос (HFE аутотрансплантация)</span></li>
        <li><span class="no-accent">Устранение гинекомастии (маскулинизирующая маммопластика)</span></li>
        <li><span class="no-accent">Введение жировой ткани (липофилинг).</span></li>
        <li><span class="no-accent">Протезирование полового члена (эндофаллопротезирование)</span></li>
        <li><span class="no-accent">Подтяжка нижней трети лица (фейслифтинг)</span></li>
        <li><span class="no-accent">Пластика носа (ринопластика)</span></li>
        <li><span class="no-accent">Удаление комочков Биша</span></li>
        <li><span class="no-accent">Маскулинизирующая маммопластика при транссексуализме</span></li>
        <li><span class="no-accent">Пластика груди после мастэктомии</span></li>
        <li><span class="no-accent">Пластика полового члена (фаллопластика)</span></li>
        <li><span class="no-accent">Пластика дефектов мягких тканей</span></li>
        <li><span class="no-accent">Хирургия кисти (удаление олеогранулёмы, устранение контрактуры Дюпюитрена)</span></li>
        <li><span class="no-accent">Микрохирургическая аутотрансплантация пальцев стопы на кисть</span></li>
        <li><span class="no-accent">Пластика малых половых губ (лабиопластика)</span></li>
    </ul>
</div><!-- End of .container -->
