@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Our Staff";
}

<div class="inner-container">
    <h3 class="smaller">Specialties</h3>
    <div class="grid">
        <div class="col-1-2">
            <ul>
                <li class="accent"><span class="no-accent strong">Breast Surgery &amp; Reconstruction</span></li>
                <li>Cosmetic Surgery</li>
                <li>Facial Reconstruction</li>
                <li>Head &amp; Neck Reconstruction</li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li>Liposuction</li>
                <li>Mommy Makeover</li>
                <li>Pediatric Plastic Surgery</li>
                <li>Skin Care</li>
            </ul>
        </div>
    </div><!-- End of .grid -->

    <hr />

    <h3>Breast Surgery &amp; Reconstruction Team</h3>
    <div class="grid our-team">
        <div class="col-1-2">
            <img src="@Url.Content("~/img/page/martin-smith-md.jpg")" alt="Martin Smith, M.D." />
            <h4 class="staff centered">Martin Smith, M.D.</h4>
            <p class="centered">Owner, Plastic surgeon</p>
        </div>
        <div class="col-1-2">
            <img src="@Url.Content("~/img/page/lora-black-md.jpg")" alt="Lora Black, M.D." />
            <h4 class="staff centered">Lora Black, M.D.</h4>
            <p class="centered">Plastic surgeon</p>
        </div>
    </div><!-- End of .grid -->

    <div class="centered">
        <a class="btn btn-primary" href="#">View All</a>
    </div>
</div><!-- End of .container -->
