@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Procedures";
}

<div class="inner-container">
    <h3>What are the most common plastic surgery procedures?</h3>
    <p>The most common cosmetic procedures are listed here by their common or descriptive names. The medical term for the procedure is enclosed in parentheses.</p>
    <ul class="accent">
        <li><span class="no-accent">Breast augmentation or enlargement (augmentation mammaplasty)</span></li>
        <li><span class="no-accent">Chin, cheek, or jaw reshaping (facial implants or soft tissue augmentation)</span></li>
        <li><span class="no-accent">Dermabrasion</span></li>
        <li><span class="no-accent">Eyelid lift (blepharoplasty)</span></li>
        <li><span class="no-accent">Ear pinning (otoplasty)</span></li>
        <li><span class="no-accent">Facelift (rhytidectomy)</span></li>
        <li><span class="no-accent">Breast reduction (mastopexy or reduction mammaplasty)</span></li>
        <li><span class="no-accent">Hair replacement/transplantation</span></li>
        <li><span class="no-accent">Liposuction (lipoplasty)</span></li>
        <li><span class="no-accent">Nose reshaping (rhinoplasty)</span></li>
        <li><span class="no-accent">Tummy tuck (abdominoplasty)</span></li>
        <li><span class="no-accent">Spider and varicose vein treatment (sclerotherapy)</span></li>
    </ul>
    <a class="btn btn-primary" href="#">More</a>
</div><!-- End of .container -->
